.title{
    margin:0px;
}
.summary{
    width:100%;
    height:58%;
    margin-bottom: 10px;
    text-align:justify;
    overflow: auto;
}
.btn-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:20px;
    gap:20px;
}
.other-btn{
    font-size: 1rem;
    width:auto;
    text-align: center;
}
::-webkit-scrollbar {
    width:0;
  }
@media screen and (max-width: 760px) {
    .other-btn{
        font-size: small;
        width:auto;
    }
  }